:root {
    --primary-color: #6d2f18;
    --secondary-color: #E0996F;
    --tertiary-color: #292d36;
    --mono: "Courier New", Courier, monospace;
    --sans-serif: Verdana, sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

body {
    color: var(--primary-color);
    font-family: var(--sans-serif);
}

.underline {
    border-bottom: 3px var(--secondary-color) solid;
}

header { 
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    top: 0;
    background-color: white;
    font-family: var(--mono);
    padding: 20px 40px;
}

header h1 a {
    text-decoration: none;
    color: var(--primary-color);
    font-size: 4vw;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
} 

header nav ul li a {
    padding: 10px 15px;
    padding-bottom: 2px;
    color: var(--primary-color);
    font-size: 2vw;
}

.cover-image {
    background-image: url("../images/ali.jpg");
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    flex-direction: row-reverse;
}

.subtitle {
    align-self: flex-end;
    padding: 15px 40px;
    background-color: var(--tertiary-color);
    text-align: center;
    color: white;
    font-family: var(--mono);
}

.subtitle h2 {
    font-size: 2vw;
    font-weight: lighter;
}

.about-me, .work, .contact{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: left;
    margin: 5%;
}

.about-me h2, .work h2, .contact h2 {
    padding-right: 50px;
    display: inline-flex;
    width: 150px;
    text-align: center;
    font-family: var(--mono);
    font-size: 2vw;
    color: var(--secondary-color);
}

.about-me p, .contact a{
    font-size: 1.25vw;
}

.about-me p {
    padding-left: 50px;
}

.vl-about-me {
    border-left: 6px solid var(--tertiary-color);
    height: 100px;  
}

.work-grid-wrapper {
    display: flex;
    width: 100%;
    justify-content: left;
    padding-left: 50px;
}

.work-grid-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 15px;
    color: var(--primary-color);
    
}

.work-grid-item {
    padding: 15px 0;
    border: 2px solid var(--tertiary-color);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: left;
    flex-direction: row-reverse;
    background-color: var(--secondary-color);
}
.work-grid-item a {
    color: white;
    text-decoration: none;
}

.vl-work {
    border-left: 6px solid var(--tertiary-color);
    height: 300px; 
}

.textbox {
    background-color: var(--tertiary-color);
    padding: 10px 5px;
    
}

.work-title {
    color: white;
    font-family: var(--sans-serif);
    font-size: 1.25vw;
    font-weight: lighter;
}

.work-subtitle {
    color: white;
    font-family: var(--sans-serif);
    font-size: 1vw;
    font-weight: lighter;
}

.box1 {
    grid-column: 1 / 3;
    grid-row: 1 / 6;
    background-image: url("../images/runbuddy.png");
    background-size: cover; 
    background-position: center;
}

.box2 {
    grid-column: 3 / 6;
    grid-row: 1 / 3;
    background-image: url("../images/munchies.png");
    background-size: cover;
    background-position: center;
}

.box3 {
    grid-column: 3 / 5;
    grid-row: 3 / 6;
    background-image: url("../images/campgrounds.png");
    background-size: cover;
    background-position: center;
}

.box4 {
    grid-column: 5 / 6;
    grid-row: 3 / 6;
    background-color: lightgrey;
}

.phone {
    padding-left: 50px;
}

.phone, .email {
    padding-right: 25px;
}

.vl-contact {
    border-left: 6px solid var(--tertiary-color);
    height: 50px; 
}

@media screen and (max-width: 980px) {
    header {
        flex-wrap: wrap;
        justify-content: center;
    }

    header h1 a {
        font-size: 6vw;
    }
    
    header nav ul li a {
        font-size: 2vw;
    }

    .subtitle h2 {
        font-size: 4vw;
    }

    .about-me, .work, .contact {
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
    }

    .break {
        width: 100%;
    }
    .about-me h2, .work h2, .contact h2 {
        font-size: 5vw;
        display: block;
        width: 100%;
        border-bottom: 2px solid var(--tertiary-color);
        justify-content: center;
        align-content: center;
        padding-right: 0;
    }  

    .about-me p,  .contact-info a {
        font-size: 3vw;
        text-align: center;
        padding-left: 0;
    }

    .vl-about-me, .vl-work, .vl-contact {
        border-left: none;
    }

    .work-grid-wrapper {
        padding-left: 0;
    }
}