:root {
    --primary-color: #6d2f18;
    --secondary-color: #E0996F;
    --tertiary-color: #292d36;
    --mono: "Courier New", Courier, monospace;
    --sans-serif: Verdana, sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

body {
    color: var(--primary-color);
    font-family: var(--sans-serif);
}

header { 
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
    font-family: var(--mono);
    background-color: white;
    padding: 20px 40px;
    width: full-width;
}

header h1 {
    background-color: var(--primary-color);
    align-items: flex-start;
    padding: 10px 20px;
}

header a {
    text-decoration: none;
    color: white;
    font-weight: lighter;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding-top: 25px;
}

header nav ul li a {
    padding: 10px 25px;
    padding-bottom: 2px;
    color: var(--primary-color);
    font-size: 18px;
}

.cover-image {
    background-image: url("../images/ali.jpg");
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    flex-direction: row-reverse;
}

.subtitle {
    align-self: flex-end;
    padding: 15px 40px;
    background-color: var(--tertiary-color);
    text-align: center;
    color: white;
    font-family: var(--mono);
}

.subtitle h2, h3 {
    font-size: medium;
    font-weight: lighter;
}

.about-me, .work, .contact{
    display: flex;
    flex-direction: row;
    margin: 5%;
}

.about-me h2, .work h2, .contact h2 {
    padding-right: 50px;
    display: inline-flex;
    align-content: left;
    width: 150px;
    border-right: solid 3px var(--secondary-color);
    line-height: 100px;
    text-align: center;
    font-family: var(--mono);
}

.about-me p, .work p, .contact p {
    padding-left: 50px;
    height: 100px;
    line-height: 18px;
    vertical-align: middle;
    display: table-cell;
}

table {
    border-spacing: 30px;
}

table tr th{
    border-bottom: 3px solid var(--secondary-color);
    font-weight: lighter;
}